* {
	font-family: Verdana;
}
/*MENU*/
ul {
	background-color: #c93c26;
	height: 60px;
	display: block;
	margin: 0px;
}

li {
	display: inline-block;
	padding: 15px;
	list-style: none;
}

a {
	color: white;
	padding: 10px;
}

a:hover {
	color: red;
}

/*CUERPO*/
section {
	padding: 10px;
	background-color: #1c1905;
}

img {
	height: 200px;
	width: 200px;
	border: 5px solid #575757;
	margin-right: 20px;
}

div {
	margin: 20px;
	padding-left: 20px;
}

button {
	background-color: #c93c26;
	color: white;
	border: none;
	width: 300px;
}

